<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK3nF1wUaX39isG7_VrIt4XK74Eh_mQKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>510748109202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coalTransportTracker</string>
	<key>PROJECT_ID</key>
	<string>auth-for-vehicle-tracker-final</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-for-vehicle-tracker-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510748109202:ios:4dedc8d3e0c535e222794b</string>
</dict>
</plist>